@{
    ViewData["Title"] = "Professor mark";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Marks</h2>

<br><br>


@model MarkViewModel

<form name="markForm">

    <div class="form-group">
        <label for="subject">Subject:</label>
        @Html.DropDownListFor(x=>x.Subject, ViewBag.Subjects as SelectList, "")
    </div>

    <div class="form-group">
        <label for="group">Group:</label>
        @Html.DropDownList("Group", new SelectList(new string[] { "ISIT-1", "ISIT-2", "ISIT-3", "POIT-4", "POIT-5", "POIT-6", "MOB-7", "MOB-8", "DEVI-9", "DEVI-10" }), "")
    </div>

    <div class="form-group">
        <label for="course">Course:</label>
        @Html.DropDownList("Course", new SelectList(new int[] { 1, 2, 3, 4 }), "")
    </div>

    <div class="form-group">
        <label for="subgroup">Subgroup:</label>
        @Html.DropDownList("Subgroup", new SelectList(new int[] { 1, 2 }), "")
    </div>

    <input type="button" value="Find" onclick="GetMarks()"/>
</form>

<br>

<table class="table table-condensed table-striped table-bordered" id="marksTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Subject</th>
            <th>User</th>
            <th>Mark</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<script src="~/js/MarkCRUD.js"> </script>

